---
permalink: admin/config.yml
eleventyExcludeFromCollections: true
---
{% if eleventy.env.runMode == "serve" -%}
backend:
  name: "test-repo"
{%- else -%}
backend:
  name: "git-gateway"
  branch: "main"
{%- endif %}

media_folder: "src/assets/img/uploads"
public_folder: "/assets/img/uploads"

collections:
  - name: "travel"
    label: "Travel Journal"
    folder: "src/travel"
    create: true
    slug: "{{ '{{year}}-{{month}}-{{day}}-{{slug}}' }}"
    identifier_field: title
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "layouts/base.njk"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD", format_date: "YYYY-MM-DD"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "cafe"
    label: "Café"
    folder: "src/cafe"
    create: true
    slug: "{{ '{{year}}-{{month}}-{{day}}-{{slug}}' }}"
    identifier_field: title
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "layouts/base.njk"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD", format_date: "YYYY-MM-DD"}
      - {label: "Body", name: "body", widget: "markdown"}
